/* .Bootstrap {
  color: green;
}
.Family {
  color: red;
}
.Charity {
  color: yellow;
}
.Charitable_auctions {
  color: yellowgreen;
}
.Exhibitions {
  color: aliceblue;
}
.Corporate {
  color: gold;
}
.Fundraising {
  color: blueviolet;
}
.Holiday {
  color: blue;
} */
.highlight {
  color: green;
}
